.list-page {
    padding: 2%;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
  }

ul.nav li {
  margin-right: 5px;
}

  ul.nav li:hover:not(.active) a {
    color: white;
    text-decoration: none;
    -webkit-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.75);
    border-radius: 5px;
  }
  
  ul.nav li.active a{
    color: white ;
    background-color: #0056E9;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgb(0, 0, 0, 0.5);
  }